.footer {

    padding: 60px 0px;
    background-color: var(--hero-bgc);
}
.footer-wrapper {
    display: block;
    text-align: center;
    margin-bottom: 60px;

    @include desktop {
        text-align: start;
        margin-right: 70px;
        margin-bottom: 0;
        align-items: baseline;
    }
}
.wrapper {
    @media screen and (max-width: 1199px){
        justify-content: space-around;
    }
    @include tablet {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }
}
.address {
    margin-top: 20px;
    font-style: normal;
    color: var(--white-text);
    text-decoration: none;
    line-height: 1.71;
    transition: color var(--time-function);
}

.adress__item:not(:last-child) {
    @media screen and (max-width: 1199px){
        margin-bottom: 8px;
    }
    @include desktop {
        margin-bottom: 9px;
    }
}
.address__link{
    color: var(--footer-address);
    text-decoration: none;
    line-height: 1.71;
    transition: color var(--time-function);
        &:hover, &:focus{
            color: var(--accent)
        }
}
.address__link--white{
    color: var(--white-text);
}

.footer__social__icon {
    fill: #fff;
}