.menu-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 0 48px 40px;
    background-color: #ffff;
    z-index: 99;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
.menu-container.is-open{
    transform: translateX(0);

}

.menu-toggle{
    border: transparent;
    background-color: #ffff;
    padding: 10px 0;
    @include tablet {
        display: none;
    }
}

.mobile-menu__item{
    &:last-child {
    margin-bottom: 302px;
    }
    &:not(:last-child) {
    margin-bottom: 32px;
    }
}

.mobile-menu__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-decoration: none;
    color: var(--main-text);
}

.mobile-contact__link{
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent);
}
.mobile-contact__link--mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--secondary-text);
}

.mobile-menu__link--current {
    color: var(--accent);
}

.mobile-contact__item{
    &:last-child {
        margin-bottom: 64px;
        }
    &:not(:last-child) {
        margin-bottom: 32px;
        }
}
.mobile-social__item{
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    &:not(:last-child){
        margin-right: 10px;
        }
    }

.mobile-social{
    display: flex;
}
.mobile-social__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--accent);
}
