.header {
    align-items: center;
    border-bottom: 1px solid var(--border-header);
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.navigation {
    display: none;

    @include tablet {
        display: block;
        font-weight: 500;
        line-height: 1.143;
        letter-spacing: 0.02em;
    }
}

.navigation__link {
    display: block;
    padding: 32px 0px;
    text-decoration: none;
    color: var(--main-text);
    transition: color var(--time-function);
        &:hover, &:focus {
        color: var(--accent);
        };
}
.navigation__link--current {
    color: var(--accent);
    display: block;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent);
        border-radius: 2px;
        bottom: -1px;
    }
}
.navigation__list {
    display: flex;
        & :not(:last-child) {
            margin-right: 50px;
        }
}
.mobil__menu {
    display: block;

    @include tablet {
        display: none;
    }
}
.contact {
    display: none;

    @include tablet {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;
       
    }
    @include desktop {
        display: flex;
        margin-left: auto;
        padding: 32px 0;
    }
}
.contact__link {
    @include tablet {
        color: var(--secondary-text);
        text-decoration: none;
    }
    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.contact__link{
    transition: color var(--time-function);
    &:hover, &:focus {
        color: var(--accent);
    }
}

@include tablet {
    .contact__item:not(:last-child) {
        margin-bottom: 10px;
        }
}
@include desktop {
    .contact__item:not(:last-child) {
        margin-bottom: 0;
    }
}

@include desktop {
    .contact__item:not(:first-child){
        margin-left: 50px;
    }
}
.contact__icon {
    fill: currentColor;
    margin-right: 10px;
}