.footer__social__icon {
        fill: var(--white-text);
    }
.footer-сall {
    @include font (14px, 700, 1.143);
     
    color: var(--white-text);

     text-transform: uppercase;
     margin-bottom: 20px;
 }
 .subscribe {
     margin-left: 93px;
 }
 .submit {
     display: flex;
 }
 .submit__input {
     background: none;
     width: 358px;
     height: 50px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     color: var(--white-text);
     border-radius: 4px;
     padding-left: 16px;
     outline: none;
        &:focus {
            border-color: var(--white-text);
            color: var(--white-text);
        }
 }

