:root {
    --accent: #2196F3;
    --accent-hover: #188CE8;
    --main-text: #212121;
    --background-color: #FFFFFF;
    --secondary-text: #757575;
    --white-text: #FFFFFF;
    --black-text: #000000;
    --hero-bgc: #2F303A;
    --bgc-poster: #EEEEEE;
    --bgc-header: #ECECEC;
    --bgc-team: #F5F4FA;
    --footer-address: rgba(255, 255, 255, 0.6);
    --border-header: #ECECEC;
    --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}